# Copyright (c) 2026 Chriesibaum GmbH
# SPDX-License-Identifier: Apache-2.0

menu "cb_zephyr_module"

config CB_ZEPHYR_MODULE
	bool "Enable cb_zephyr_module"
	help
	  Enable the cb_zephyr_module Zephyr module.

if CB_ZEPHYR_MODULE

rsource "drivers/Kconfig"
rsource "lib/Kconfig"

endif # CB_ZEPHYR_MODULE

endmenu
